<!DOCTYPE html>
<html>
<head>
<title>ZEPHYRNET</title>
</head>
<body>
    <form action="/guest/s/default/" method="post">
        <fieldset>
            <legend>CLICK HERE TO CONNECT</legend>
            <input type="hidden" name="id" value="{{ .MAC }}" />
            <input type="hidden" name="ap" value="{{ .AP }}" />
            <input type="hidden" name="t" value="{{ .When.Unix }}" />
            <input type="hidden" name="url" value="{{ .Redirect.String }}" />
            <input type="hidden" name="ssid" value="{{ .SSID }}" />

            <input type="submit" name="submit" value="CONNECT TO THE ZEPHYRNET" />
        </fieldset>
    </form>
	<pre>
		we'll follow the tracks
		of the pioneers
		who tamed the "wild west"
	</pre>
</body>
</html>